# All dependencies below here.. 
# And installed in the run-tests.yml WORKFLOW

Flask
pytest

# By listing just pytest in the requirements.txt file without specifying a version, you're allowing pip to install the latest compatible version of pytest for your Python environment. 
# This approach ensures that you use a version of pytest that is compatible with your Python version without explicitly specifying a version number.
# Using only pytest in the requirements.txt file is a common practice and simplifies dependency management by letting pip handle the version compatibility automatically.

# If you have any other dependencies for your project, you can list them in the requirements.txt file in the same format, with each dependency on a new line. For example:
# other-dependency==1.0.0
